@font-face {
	font-family: Minecraftmainfont;
	src: url(/font/Minetest\ Font.ttf);
}

@font-face {
	font-family: Minecraftsubfont;
	src: url(/font/VT323-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 1rem;
	font-weight: normal;
	font-family: Minecraftsubfont, Garamond, serif;
}

body::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	background-color: black;
}


section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #3b6718, transparent);
    z-index: 8;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
	z-index: 2;
}

section img#sun{
	filter: drop-shadow(1px 1px 100px rgba(255, 255, 255, 1));
	z-index: 0;
}

.sec {
    position: relative;
	background: linear-gradient(to bottom, #3b6718, #2d5472, transparent);
	padding: 50px;
	z-index: 3;
}

.sec h2 {
    font-family: Minecraftmainfont, Garamond, serif;
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p {
    font-size: 1.5em;
    color: #fff;
}

.nav-buttons {
	text-decoration: none;
	color: white;
	padding: 1.5rem;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.nav-buttons:hover {
	background-image: linear-gradient(to top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	transform: translateY(3px);
    color: #3b6718;
}

.nav-buttons:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.nav-buttons:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.navigation-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	text-decoration: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

header {
	width: 100%;
	top: 0;
    z-index: 10;
}

.width-class {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 55%;
}

@media (max-width: 1920px) {
	.width-class {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 80%;
	}
}

@media (max-width: 1600px) {
	.width-class {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
	}
}

.index-navigation {
	position: absolute;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
	width: 100%;
	z-index: 10;
}

.index-logo {
	width: 20rem;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	color: #fff;
	z-index: 1;
}

@-webkit-keyframes clouds-anim {
	0% {
		transform: translateY(0px) translateX(20px);
		opacity: 0;
	}

	50% {
		opacity: 10%;
	}

	100% {
		transform: translateY(100px) translateX(-500px);
		opacity: 0;
	}
}

@-webkit-keyframes main-clouds-anim {
	0% {
		transform: translateX(20px);
		opacity: 0;
	}

	90% {
		opacity: 70%;
	}

	100% {
		transform: translateX(-500px);
		opacity: 0;
	}
}

.earth-bg {
	background: linear-gradient(to bottom, black, #60b4f4);
}

.bg-cloud {
	opacity: 10%;
	-webkit-animation: clouds-anim 30s infinite;
	animation: clouds-anim 30s infinite;
	position: absolute;
}

.clouds {
	-webkit-animation: main-clouds-anim 30s infinite;
	animation: main-clouds-anim 30s infinite;
	position: absolute;
}


/* #web_title_bg {
	position: absolute;
	font-size: 15rem;
	color: #3b6718;
	text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
	-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
	margin-left: auto; 
	margin-right: auto; 
} */

#web_title {
	position: absolute;
	font-size: 5rem;
	color: #3b6718;
	text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
	-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
	z-index: 5;
	margin-left: auto; 
	margin-right: auto; 
}

/* .to-divide {
	display: block;
	font-size: 1rem;
	top: -100px;
} */

.main-footer {
	/* background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)); */
	background-color: transparent;
	border-top: 2px solid white;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

.social-icon,
.menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .5rem 0;
	flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
	list-style: none;
}

.social-icon__link {
	font-size: 2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}

.social-icon__link:hover {
	transform: translateY(-10px);
}

.main-footer-text {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.typed-text {
	color: white;
	z-index: 9999;
}

#pepe-bg {
	position: absolute;
	z-index: 1;
}

.outer-space {
	padding: 10%;
}

.cave {
    width: 100%;
	height: auto;
	-webkit-animation: cave-anim 5s infinite;
	animation: cave-anim 5s infinite;
}

@-webkit-keyframes cave-anim {
	0% {
		filter: brightness(100%);
	}

	90% {
		filter: brightness(200%);
	}

	100% {
		filter: brightness(100%);
	}
}