@import url("animations.css");
@import url("fireflies.css");
@import url("main.css");
@import url(https://unpkg.com/aos@2.3.1/dist/aos.css);

:root {
    --kyuhi: rgba(255,255,255,0.5);
  }

.pipe::after {
	content: url(/images/pack.webp);
	position: absolute;
	left: 0;
	-webkit-animation: bones-2 30s infinite;
	animation: bones-2 30s infinite;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	transform: scale(1);
}