img.vert-move {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
}

img.vert-move-2 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .1s;
}

img.vert-move-3 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .2s;
}

img.vert-move-4 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .3s;
}

img.vert-move-5 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .4s;
}

img.vert-move-6 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .5s;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
		filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, .65)) brightness(130%);
	}

	100% {
		transform: translateY(-10px) scaleX(.9);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
		filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, .65)) brightness(130%);
	}

	100% {
		transform: translateY(-10px) scaleX(.9);
	}
}

.loader-bgs {
	background-position: top center;
	background-repeat: no-repeat;
}

.wrapper {
	position: fixed;
	text-align: center;
	inset: 0;
	z-index: 100000;
	background-image: url('/images/sky-loader.png'), linear-gradient(to bottom, rgba(19, 15, 20, 1), rgba(0, 0, 0, 1), rgba(29, 33, 42, 1));
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: grid;
	place-items: center;
	transition: opacity .5, visibility 1s;
    animation: text-motion 10s infinite;
}

.fades {
	opacity: 0;
	visibility: hidden;
	transition: opacity .5, visibility 1s;
}

.loader-icon {
	width: 10rem;
    border: 3px solid white;
	padding: .5rem;
	border-radius: 50%;
	border-left: none;
    border-right: none;
	border-bottom: none;
	-webkit-animation: loader-icon .85s infinite alternate;
	animation: loader-icon .85s infinite alternate;
}

.loader-icon-1 {
	width: 7.5rem;
    border: 2px solid white;
	padding: .5rem;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	-webkit-animation: loader-icon-2 .85s infinite alternate;
	animation: loader-icon-2 .85s infinite alternate;
	background-image: linear-gradient(90deg, rgba(59, 59, 59, .25) , transparent);
}

.loader-icon-2 {
	width: 7.5rem;
    border: 2px solid white;
	padding: .5rem;
	border-radius: 50%;
	margin: 2rem;
	border-left: none;
	border-bottom: none;
	-webkit-animation: loader-icon-2 .85s infinite alternate;
	animation: loader-icon-2 .85s infinite alternate;
	background-image: linear-gradient(to bottom, rgba(255,255,255, .10), transparent, transparent);
}

.loader-icon-23 {
	width: 10rem;
	margin: 2rem;
	transition: 1s ease-in-out;
}

.loader-icon-23:hover {
	transform: scale(1.25);
}

@-webkit-keyframes loader-icon-2 {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-1px);
	}
}

@keyframes loader-icon-2 {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-1px);
	}
}


@-webkit-keyframes loader-icon {
	0% {
		transform: translateY(0);
		filter: drop-shadow(1px 1px 150px rgba(255, 255, 255, 0.25)) brightness(100%);
	}

	100% {
		transform: translateY(-1px);
		filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5))
	}
}

@keyframes loader-icon {
	0% {
		transform: translateY(0);
		filter: drop-shadow(1px 1px 150px rgba(255, 255, 255, 0.25)) brightness(100%);
	}

	100% {
		transform: translateY(-1px);
		filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5))
	}
}

.loader-welcome {
	filter: brightness(120%);
	-webkit-text-stroke: .1px white;
	color: white;
	font-size: 3rem;
}

.text-motion {
	background: linear-gradient(90deg, #fff, #fff);
	background-repeat: no-repeat;
	background-size: 80%;
	background-color: #5B8FB9;
	animation: text-motion-load 1.7s infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes text-motion {
	0% {
		background-position: -10%;
	}

	90% {
		background-position: 10%;
        filter: brightness(150%);
	}

    100% {
		background-position: -10%;
	}
}

@keyframes text-motion-load {
	0% {
		background-position: -500%;
	}

	100% {
		background-position: 500%;
	}
}

.coin {
	width: 4rem;
	-webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1));
    margin-top: 20px;
}

.pepe-loader {
	position: absolute;
	width: 200px;
	-webkit-animation: cave-anim 10s infinite;
	animation: pepe-cave-anim 10s infinite;
	overflow: hidden;
}

@-webkit-keyframes pepe-cave-anim {
	0% {
		left: -100vw;
		transform: rotate(0deg) translateY(-100px);
    }

	50% {
		transform: rotate(340deg) translateY(100px);
	}

	100% {
		left: 100vw;
		transform: rotate(360deg) translateY(35px);
	}
}

.default {
	width: 3rem;
}

.story-button {
	display: block;
	border: .5px solid white;
	border-radius: 5px;
	padding: 1.2rem 3rem;
	background-image: linear-gradient(to right,rgba(0, 0, 0, 1), var(--kyuhi) , rgba(0, 0, 0, 1));
	font-weight: bold;
	font-size: 1.5rem;
	text-shadow: -2px 2px 4px 
	rgba(0, 0, 0, 0.5), 
	2px -2px 0 
	rgba(255, 255, 255, 0.5);
	-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1));
	cursor: pointer;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}
.story-button:hover {
	transform: translateY(-2px);
	background-image: linear-gradient(to right,rgba(0, 0, 0, .3), var(--kyuhi), rgba(0, 0, 0, .3));
}

.a-button {
	color: #fff;
	text-decoration: none;
}

.leads-photo-abs {
	position: absolute;
	left: 0;
	right: 100%;
	text-align: center;
	border: 5px dotted white;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	width: 25%;
	margin: 1rem;
	padding: 5px;
}

.leads-photo-abs2 {
	display: block;
	border: 10px double white;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

.leads-photo-abs3 {
	display: block;
	border: 10px dotted white;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding: .5rem;
	width: 35%;
}

.leads-photo-abs4 {
	display: block;
	border: 10px dotted white;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	width: 8vh;
}

.mod {
	margin-top: 2rem;
}

.mod:hover {
	transform: scale(1.1);
}

.sky-bg {
	/* background: linear-gradient(45deg, rgba(97, 105, 207, .3) 0%, black 10%, transparent 50%), linear-gradient(-135deg, rgba(97, 105, 207, .3) 0%, black 10%, transparent 50%), url(/images/sky.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover; */
	/* transform: skewY(5deg); */
	margin-bottom: 1rem;
	background-image: url(/images/spaceship.png) !important;
	background-position: center !important;
	background-attachment: fixed !important;
	background-size: cover !important;
}

.world-bg {
	/* background: linear-gradient(45deg, rgba(97, 105, 207, .3) 0%, black 10%, transparent 50%), linear-gradient(-135deg, rgba(97, 105, 207, .3) 0%, black 10%, transparent 50%), url(/images/landscape.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover; */
	/* transform: skewY(-5deg); */
	margin-bottom: 1rem;
	background-image: url(/images/BG-B.webp) !important;
	background-position: bottom !important;
	background-attachment: fixed !important;
	background-size: cover !important;
}

.admins-bg {
	/* background: linear-gradient(45deg, rgba(97, 105, 207, .3) 0%, black 10%, transparent 50%), linear-gradient(-135deg, rgba(97, 105, 207, .3) 0%, black 10%, transparent 50%), url(/images/cave.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover; */
	/* transform: skewY(5deg); */
	margin-bottom: 1rem;
	background-image: url(/images/seq-house.png) !important;
	background-position: center !important;
	background-attachment: fixed !important;
	background-size: cover !important;
}

.coins-bg {
	/* background: linear-gradient(45deg, rgba(97, 105, 207, .3) 0%, black 10%, transparent 50%), linear-gradient(-135deg, rgba(97, 105, 207, .3) 0%, black 10%, transparent 50%), url(/images/cave.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover; */
	/* transform: skewY(5deg); */
	margin-bottom: 1rem;
	background-image: url(/images/coin-bg.png) !important;
	background-position: center !important;
	background-attachment: fixed !important;
	background-size: cover !important;
}

.world-op {
	/* transform: skewY(5deg); */
	padding: 3rem 2rem;
	border: 3px solid var(--kyuhi);
	box-shadow: 1px 1px 25px var(--kyuhi);
	background: linear-gradient(-45deg, var(--kyuhi) 0%, black 5%, transparent 50%), linear-gradient(135deg, var(--kyuhi) 0%, black 5%, transparent 50%);
	/* backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(16px); */
	background-color: black;
	border-radius: 5px;
}

.sky-op {
	/* transform: skewY(-5deg); */
	padding: 3rem 2rem;
	border: 3px solid var(--kyuhi);
	box-shadow: 1px 1px 25px var(--kyuhi);
	background: linear-gradient(-45deg, var(--kyuhi) 0%, black 5%, transparent 50%), linear-gradient(135deg, var(--kyuhi) 0%, black 5%, transparent 50%);
	/* backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(16px); */
	background-color: black;
	border-radius: 5px;
}

.admin-op {
	/* transform: skewY(-5deg); */
	padding: 3rem 2rem;
	border: 3px solid var(--kyuhi);
	box-shadow: 1px 1px 25px var(--kyuhi);
	background: linear-gradient(-45deg, var(--kyuhi) 0%, black 5%, transparent 50%), linear-gradient(135deg, var(--kyuhi) 0%, black 5%, transparent 50%);
	/* backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(16px); */
	background-color: black;
	border-radius: 5px;
}

.coins-op {
	/* transform: skewY(5deg); */
	padding: 3rem 2rem;
	border: 3px solid var(--kyuhi);
	box-shadow: 1px 1px 25px var(--kyuhi);
	background: linear-gradient(-45deg, var(--kyuhi) 0%, black 5%, transparent 50%), linear-gradient(135deg, var(--kyuhi) 0%, black 5%, transparent 50%);
	/* backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(16px); */
	background-color: black;
	border-radius: 5px;
}

.radial-effect {

	/* background: radial-gradient(circle at center, var(--kyuhi) 0%, transparent 40%, transparent 75%); */
	
}

.container-main-sky {
	/* border-top: 1px solid var(--kyuhi);
	border-bottom: 1px solid var(--kyuhi);
	padding: 2rem 0;
	box-shadow: 1px 1px 25px var(--kyuhi);
	background-color: black; */
}

.container-main-admin {
	/* border-top: 1px solid var(--kyuhi);
	border-bottom: 1px solid var(--kyuhi);
	padding: 2rem 0;
	box-shadow: 1px 1px 25px var(--kyuhi);
	background-color: black; */
}

.container-main-world {
	/* border-top: 1px solid var(--kyuhi);
	border-bottom: 1px solid var(--kyuhi);
	padding: 2rem 0;
	box-shadow: 1px 1px 25px var(--kyuhi);
	background-color: black; */
}

.pipe {
	margin-top: 10%;
	position: absolute;
	background-image: url(/images/tube_H.png);
	z-index: 10;
	width: 80px;
	height: 90%;
	overflow: hidden;
	-webkit-animation: bones 15s infinite;
	animation: bones 15s infinite;
}

.pipe-left {
	margin-top: 5%;
	position: absolute;
	background-image: url(/images/tube_H.png);
	z-index: 0;
	width: 80px;
	height: 90%;
	overflow: hidden;
	-webkit-animation: bones 10s infinite;
	animation: bones 10s infinite;
	right: 70%;
}

.pipe-right {
	margin-top: 5%;
	position: absolute;
	background-image: url(/images/tube_H.png);
	z-index: 0;
	width: 80px;
	height: 90%;
	overflow: hidden;
	-webkit-animation: bones 30s infinite;
	animation: bones 30s infinite;
	right: 0%;
}

.pipe-h {
	position: relative;
	background-image: url(/images/tube_V.png);
	z-index: -1;
	width: 100%;
	height: 80px;
	overflow: hidden;
}

.pipe-h::after {
	content: url(/images/cross-b.png);
}

.pipe-right::after {
	content: url(/images/cross.png);
}

.pipe-left::after {
	content: url(/images/cross.png);
}


.sec-2 {
	background-image: url(/images/cave-biome.png);
	background-attachment: fixed;
	background-position: center;
	display: flex;
}

body {
	height: 100%;
}

.pipe-padding {
	padding-left: 2rem;
}

.pipe::before {
	content: url(/images/cross.png);
}

@-webkit-keyframes bones {
	0% {
		top: 0;
	}

	50% {
		top: 5%
	}

	100% {
		top: 0%
	}
}

@keyframes bones {
	0% {
		top: 0;
	}

	50% {
		top: 5%
	}

	100% {
		top: 0%
	}
}

.glitch {
   position: relative;
   font-size: 80px;
   font-weight: 700;
   line-height: .1;
   color: #fff;
   letter-spacing: 5px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-glitch);
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: var(--kyuhi);
   z-index: -1;
}

.glitch:after {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: var(--kyuhi);
   z-index: -2;
}

@keyframes glitch-color {
   0% {
      transform: translate(0);
   }

   20% {
      transform: translate(-3px, 3px);
   }

   40% {
      transform: translate(-3px, -3px);
   }

   60% {
      transform: translate(3px, 3px);
   }

   80% {
      transform: translate(3px, -3px);
   }

   to {
      transform: translate(0);
   }
}

.container-main::before {
	content: "❖";
	font-weight: bolder;
	color: var(--kyuhi);
	font-size: 2rem;
	position: absolute;
	-webkit-animation: ct 15s infinite;
	animation: ct 15s infinite;
	text-shadow: (1px 1px 75px rgba(255, 255, 255, 1));
	z-index: 15;
}

@-webkit-keyframes ct {
	0% {
		left: 0;
	}

	100% {
		left: 100%;
	}
}

@keyframes ct {
	0% {
		left: 0;
	}

	100% {
		left: 100%;
	}
}

.sky-op::before {
	content: "❖";
	font-weight: bolder;
	color: var(--kyuhi);
	font-size: 2.8rem;
	position: absolute;
	-webkit-animation: ctr 15s infinite;
	animation: ctr 15s infinite;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;
	top: -2rem;
}

.world-op::before {
	content: "❖";
	font-weight: bolder;
	color: var(--kyuhi);
	font-size: 2.8rem;
	position: absolute;
	-webkit-animation: ctr 15s infinite;
	animation: ctr 15s infinite;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;
	top: -2rem;
}

.admin-op::before {
	content: "❖";
	font-weight: bolder;
	color: var(--kyuhi);
	font-size: 2.8rem;
	position: absolute;
	-webkit-animation: ctr 15s infinite;
	animation: ctr 15s infinite;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;
	top: -2rem;
}

.container-main::after {
	content: "❖";
	font-weight: bolder;
	color: var(--kyuhi);
	font-size: 2.8rem;
	position: absolute;
	-webkit-animation: ctr 15s infinite;
	animation: ctr 15s infinite;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;
}

@-webkit-keyframes ctr {
	0% {
		right: 0;
	}

	100% {
		right: 100%;
	}
}

@keyframes ctr {
	0% {
		right: 0;
	}

	100% {
		right: 100%;
	}
}

.pipe-right::before {
	content: url(/images/pack.webp);
	position: absolute;
	left: 0;
	-webkit-animation: bones-2 60s infinite;
	animation: bones-2 60s infinite;
	transform: scale(1);
}

@-webkit-keyframes bones-2 {
	0% {
		top: 0;
	}

	50% {
		top: 90%;
	}

	100% {
		top: 0%
	}
}

@keyframes bones-2 {
	0% {
		top: 0;
	}

	50% {
		top: 90%;
	}

	100% {
		top: 0%
	}
}

.pipe-left::before {
	content: url(/images/pack.webp);
	position: absolute;
	left: 0;
	-webkit-animation: bones-3 15s infinite;
	animation: bones-3 15s infinite;
	transform: scale(1);
}

@-webkit-keyframes bones-3 {
	0% {
		top: 0;
	}

	50% {
		top: 90%;
	}

	100% {
		top: 0%
	}
}

@keyframes bones-3 {
	0% {
		top: 0;
	}

	50% {
		top: 90%;
	}

	100% {
		top: 0%
	}
}

body {
	/* background-image: url(/images/cave-biome.png);
	background-attachment: fixed;
	background-position: center; */
	/* -webkit-animation: body-bg 30s infinite;
	animation: body-bg 30s infinite; */
}

/* @-webkit-keyframes body-bg {
	0% {
		background-image: url(/images/sky.png);
	}

	90% {
		background-image: url(/images/cave-biome.png);
	}

	100% {
		background-image: url(/images/sky.png);
	}
}

@keyframes body-bg {
	0% {
		background-image: url(/images/sky.png);
	}

	90% {
		background-image: url(/images/cave-biome.png);
	}

	100% {
		background-image: url(/images/sky.png);
	}
} */

.right-valve {
	position: absolute;
	width: 50vw;
	height: 53vh;
	background-image: url(/images/iron.webp);
	background-position: left;
	border: 1rem solid gray;
	z-index: 15;
	overflow: hidden;
	box-shadow: inset 10px 10px 50px black;
}

.left-valve {
	position: absolute;
	width:	50vw;
	height: 53vh;
	background-image: url(/images/iron.webp);
	background-position: right;
	border: 1rem solid gray;
	z-index: 15;
	overflow: hidden;
	box-shadow: inset -10px 10px 50px black;
}

.left-valve::before {
	content: "< CRYP";
	right: 5rem;
	top: 47%;
	font-weight: bolder;
	color: var(--kyuhi);
	position: absolute;
	z-index: 15;
	transform: scale(1.5);
	font-size: 3rem;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: rgb(128, 128, 128);
	text-shadow: 2px 2px 5px black;
}

.right-valve::before {
	content: "TECH >";
	left: 5rem;
	top: 47%;
	font-weight: bolder;
	color: var(--kyuhi);
	position: absolute;
	z-index: 15;
	transform: scale(1.5);
	font-size: 3rem;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: rgb(128, 128, 128);
	text-shadow: 2px 2px 5px black;
}

#left-valve, #left-valve-sky, #left-valve-admin, #left-valve-coin {
	transform: translateX(0vw);
	overflow: hidden;
}

#right-valve, #right-valve-sky, #right-valve-admin, #right-valve-coin {
	transform: translateX(50vw);
	overflow: hidden;
}

p {
	text-shadow: 2px 2px 1px black;
}

.card{
box-shadow: 0 1px 5px #00000099;
transition-duration: 300ms;
transition-property: transform, box-shadow;
transition-timing-function: ease-out;
transform: rotate3d();
}

.card:hover {
transition-duration: 150ms;
box-shadow: 0 5px 20px 5px #00000044;
}

.card .glow {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;

background-image: radial-gradient(circle at -50% 20%, #ffffff22, #0000000f);
}

.coin-bg {
	text-align: center;
	padding: 1rem;
	background-color: black;
	border: 5px double white;
}

.primary-pic {
	display: block;
  }

.test-coin {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 10%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.fence {
	background-image: url(/images/fence.png);
	height: 50px;

}

.test {
	display: flex;
	/* border: 3px solid var(--kyuhi);
	background: linear-gradient(-45deg, black 0%, black 10%, transparent 50%), linear-gradient(135deg, black 0%, black 10%, transparent 50%);
	border-radius: 5px;
	margin-top: 1rem; */
}

.leads-portrait-1 {
	display: inline-block;
	width: 25vh;
}

.slideshow-container {
	display: block;
	height: 12.5vh;
}