img.vert-move {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
}

img.vert-move-2 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .1s;
}

img.vert-move-3 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .2s;
}

img.vert-move-4 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .3s;
}

img.vert-move-5 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .4s;
}

img.vert-move-6 {
	-webkit-animation: mover .8s infinite alternate;
	animation: mover .85s infinite alternate;
	animation-delay: .5s;
}

@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
		filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, .65)) brightness(130%);
	}

	100% {
		transform: translateY(-10px) scaleX(.9);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
		filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, .65)) brightness(130%);
	}

	100% {
		transform: translateY(-10px) scaleX(.9);
	}
}

.loader-bgs {
	background-position: top center;
	background-repeat: no-repeat;
}

.wrapper {
	position: fixed;
	text-align: center;
	inset: 0;
	z-index: 100000;
	background-image: url('/images/sky-loader.png'), linear-gradient(to bottom, rgba(19, 15, 20, 1), rgba(0, 0, 0, 1), rgba(29, 33, 42, 1));
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: grid;
	place-items: center;
	transition: opacity .5, visibility 1s;
    animation: text-motion 10s infinite;
}

.fades {
	opacity: 0;
	visibility: hidden;
	transition: opacity .5, visibility 1s;
}

.loader-icon {
	width: 10rem;
    border: 3px solid white;
	padding: .5rem;
	border-radius: 50%;
	border-left: none;
    border-right: none;
	border-bottom: none;
	-webkit-animation: loader-icon .85s infinite alternate;
	animation: loader-icon .85s infinite alternate;
}

.loader-icon-1 {
	width: 7.5rem;
    border: 2px solid white;
	padding: .5rem;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	-webkit-animation: loader-icon-2 .85s infinite alternate;
	animation: loader-icon-2 .85s infinite alternate;
	background-image: linear-gradient(90deg, rgba(59, 59, 59, .25) , transparent);
}

.loader-icon-2 {
	width: 7.5rem;
    border: 2px solid white;
	padding: .5rem;
	border-radius: 50%;
	margin: 2rem;
	border-left: none;
	border-bottom: none;
	-webkit-animation: loader-icon-2 .85s infinite alternate;
	animation: loader-icon-2 .85s infinite alternate;
	background-image: linear-gradient(to bottom, rgba(255,255,255, .10), transparent, transparent);
}

.loader-icon-23 {
	width: 10rem;
	margin: 2rem;
	transition: 1s ease-in-out;
}

.loader-icon-23:hover {
	transform: scale(1.25);
}

@-webkit-keyframes loader-icon-2 {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-1px);
	}
}

@keyframes loader-icon-2 {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-1px);
	}
}


@-webkit-keyframes loader-icon {
	0% {
		transform: translateY(0);
		filter: drop-shadow(1px 1px 150px rgba(255, 255, 255, 0.25)) brightness(100%);
	}

	100% {
		transform: translateY(-1px);
		filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5))
	}
}

@keyframes loader-icon {
	0% {
		transform: translateY(0);
		filter: drop-shadow(1px 1px 150px rgba(255, 255, 255, 0.25)) brightness(100%);
	}

	100% {
		transform: translateY(-1px);
		filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5))
	}
}

.loader-welcome {
	filter: brightness(120%);
	-webkit-text-stroke: .5px white;
	color: white;
	font-size: 3rem;
}

.text-motion {
	background: linear-gradient(90deg, #fff, #fff);
	background-repeat: no-repeat;
	background-size: 80%;
	background-color: var(--kyuhi);
	animation: text-motion-load 1.7s infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes text-motion {
	0% {
		background-position: -10%;
	}

	90% {
		background-position: 10%;
        filter: brightness(150%);
	}

    100% {
		background-position: -10%;
	}
}

@keyframes text-motion-load {
	0% {
		background-position: -500%;
	}

	100% {
		background-position: 500%;
	}
}

.coin {
	width: 4rem;
	-webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1));
    margin-top: 20px;
}

.pepe-loader {
	position: absolute;
	width: 200px;
	-webkit-animation: cave-anim 10s infinite;
	animation: pepe-cave-anim 10s infinite;
	overflow: hidden;
}

@-webkit-keyframes pepe-cave-anim {
	0% {
		left: -100vw;
		transform: rotate(0deg) translateY(-100px);
    }

	50% {
		transform: rotate(340deg) translateY(100px);
	}

	100% {
		left: 100vw;
		transform: rotate(360deg) translateY(35px);
	}
}

.default {
	width: 3rem;
}

.story-button {
	display: block;
	border: .5px solid white;
	border-radius: 5px;
	padding: 1.2rem 3rem;
	background-image: linear-gradient(to right,rgba(0, 0, 0, 1), var(--kyuhi) , rgba(0, 0, 0, 1));
	font-weight: bold;
	font-size: 1.5rem;
	text-shadow: -2px 2px 4px 
	rgba(0, 0, 0, 0.5), 
	2px -2px 0 
	rgba(255, 255, 255, 0.5);
	-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1));
	cursor: pointer;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}
.story-button:hover {
	transform: translateY(-2px);
	background-image: linear-gradient(to right,rgba(0, 0, 0, .3), var(--kyuhi), rgba(0, 0, 0, .3));
}

.a-button {
	color: #fff;
	text-decoration: none;
}

.leads-photo-abs {
	position: absolute;
	left: 0;
	right: 100%;
	top: 0;
	text-align: center;
	border: 5px dotted white;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	width: 25%;
	margin: 1rem;
	padding: 5px;
	transition: 1s ease-in-out;
	z-index: 15;
}

.banner:hover .leads-photo-abs {
	transition: 1s ease-in-out;
	left: 37.5%;
	top: 42.5%;
	margin: 0;
	transform: scale(1.2);
	border: 1px dotted white;
}

.leads-photo-abs2 {
	display: block;
	border: 10px double white;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

.leads-photo-abs3 {
	display: block;
	border: 10px dotted white;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding: .5rem;
	width: 35%;
}

.leads-photo-abs4 {
	display: block;
	border: 10px dotted white;
	border-radius: 50%;
	border-left: none;
	border-bottom: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	width: 8vh;
}

.mod {
	margin-top: 2rem;
}

.mod:hover {
	transform: scale(1.1);
}

.sky-bg, .world-bg, .admins-bg, .coins-bg {
	background-position: center !important;
	background-attachment: fixed !important;
	background-size: cover !important;
	margin-bottom: 1rem;
}

.sky-bg {
	background-image: url(/images/spaceship.png) !important;
}

.world-bg {
	background-image: url(/images/BG-B.webp) !important;
}

.admins-bg {
	background-image: url(/images/corridor-b.png) !important;
}

.coins-bg {
	background-image: url(/images/cave.png) !important;
}

.sky-op, .world-op, .admin-op, .coins-op {
	padding: 3rem 2rem;
	border: 3px solid var(--kyuhi);
	background: linear-gradient(-45deg, var(--kyuhi) 0%, rgba(0,0,0, .75) 5%, transparent 50%), linear-gradient(135deg, var(--kyuhi) 0%, rgba(0,0,0, .75) 5%, transparent 50%), url(/images/Stone-S.png);
	background: linear-gradient(-45deg, var(--kyuhi) 0%, rgba(0,0,0, .75) 5%, transparent 50%), linear-gradient(135deg, var(--kyuhi) 0%, rgba(0,0,0, .75) 5%, transparent 50%), black;
	border-radius: 5px;
	box-shadow: 10px 10px 20px black;
}

.pipe {
	margin-top: 10%;
	position: absolute;
	background-image: url(/images/tube_H.png);
	z-index: 10;
	width: 80px;
	height: 90%;
	overflow: hidden;
	-webkit-animation: bones 15s infinite;
	animation: bones 15s infinite;
}

.pipe-left {
	margin-top: 5%;
	position: absolute;
	background-image: url(/images/tube_H.png);
	z-index: 0;
	width: 80px;
	height: 90%;
	overflow: hidden;
	-webkit-animation: bones 10s infinite;
	animation: bones 10s infinite;
	right: 70%;
}

.pipe-right {
	margin-top: 5%;
	position: absolute;
	background-image: url(/images/tube_H.png);
	z-index: -1;
	width: 80px;
	height: 90%;
	overflow: hidden;
	-webkit-animation: bones 30s infinite;
	animation: bones 30s infinite;
	right: 0%;
}

.pipe-to-left {
	position: relative;
	background-image: url(/images/chain.png);
	background-position: center;
	background-size: contain;
	z-index: -1;
	width: 200vw;
	height: 5rem;
	overflow: hidden;
	transform: scale(10);
	-webkit-animation: pipe-left 15s infinite;
	animation: pipe-left 15s infinite;
}

.pipe-to-left::before {
	content: url(/images/cross.png);
}

@keyframes pipe-left {
	0% {
		right: -5vw;
	}

	50% {
		right: -50vw;
	}

	100% {
		right: -5vw;
	}
}

.pipe-to-right {
	position: relative;
	background-image: url(/images/chain.png);
	background-position: center;
	background-size: contain;
	z-index: -1;
	width: 200vw;
	height: 5rem;
	overflow: hidden;
	transform: scale(10);
	-webkit-animation: pipe-right 15s infinite;
	animation: pipe-right 15s infinite;
}

/* .pipe-to-right::after {
	content:"⚪";
	font-size: 1rem;
} */

@keyframes pipe-right {
	0% {
		right: 5vw;
	}

	50% {
		right: 50vw;
	}

	100% {
		right: 5vw;
	}
}


.pipe-right::after {
	content: url(/images/cross.png);
}

.pipe-left::after {
	content: url(/images/cross.png);
}


.sec-2 {
	background-image: url(/images/sky-loader-for-sec.png);
	background-attachment: fixed;
	background-position: center;
	display: flex;
}

body {
	height: 100%;
}

.pipe-padding {
	padding-left: 2rem;
}

.pipe::before {
	content: url(/images/cross.png);
}

@-webkit-keyframes bones {
	0% {
		top: 0;
	}

	50% {
		top: 5%
	}

	100% {
		top: 0%
	}
}

@keyframes bones {
	0% {
		top: 0;
	}

	50% {
		top: 5%
	}

	100% {
		top: 0%
	}
}

.glitch {
   position: relative;
   font-size: 80px;
   font-weight: 700;
   line-height: .1;
   color: #fff;
   letter-spacing: 5px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-glitch);
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: var(--kyuhi);
   z-index: -1;
}

.glitch:after {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: var(--kyuhi);
   z-index: -2;
}

@keyframes glitch-color {
   0% {
      transform: translate(0);
   }

   20% {
      transform: translate(-3px, 3px);
   }

   40% {
      transform: translate(-3px, -3px);
   }

   60% {
      transform: translate(3px, 3px);
   }

   80% {
      transform: translate(3px, -3px);
   }

   to {
      transform: translate(0);
   }
}

@-webkit-keyframes ct {
	0% {
		left: -1.3%;
		top: -2rem;
	}

	25% {
		left: 99%;
		top: -2rem;
	}

	50% {
		left: 99%;
		top: 96%;
	}

	75% {
		left: -1.3%;
		top: 96%;
	}

	100% {
		left: -1.3%;
		top: -2rem;
	}
}

@keyframes ct {
	0% {
		left: -1.3%;
		top: -2rem;
	}

	25% {
		left: 99%;
		top: -2rem;
	}

	50% {
		left: 99%;
		top: 96%;
	}

	75% {
		left: -1.3%;
		top: 96%;
	}

	100% {
		left: -1.3%;
		top: -2rem;
	}
}

.sky-op::before, .world-op::before, .admin-op::before, .coins-op::before {
	content: "❖";
	font-weight: bolder;
	color: var(--kyuhi);
	font-size: 2.8rem;
	position: absolute;
	-webkit-animation: ct 15s infinite linear;
	animation: ct 15s infinite linear;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;
	top: -2rem;
}

.container-main::after {
	content: "❖";
	font-weight: bolder;
	color: var(--kyuhi);
	font-size: 2.8rem;
	position: absolute;
	-webkit-animation: ctr 15s infinite;
	animation: ctr 15s infinite;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;
}

@-webkit-keyframes ctr {
	0% {
		right: 0;
	}

	100% {
		right: 100%;
	}
}

@keyframes ctr {
	0% {
		right: 0;
	}

	100% {
		right: 100%;
	}
}

.pipe-right::before {
	content: url(/images/pack.webp);
	position: absolute;
	left: 0;
	-webkit-animation: bones-2 60s infinite;
	animation: bones-2 60s infinite;
	transform: scale(1);
}

@-webkit-keyframes bones-2 {
	0% {
		top: 0;
	}

	50% {
		top: 90%;
	}

	100% {
		top: 0%
	}
}

@keyframes bones-2 {
	0% {
		top: 0;
	}

	50% {
		top: 90%;
	}

	100% {
		top: 0%
	}
}

.pipe-left::before {
	content: url(/images/pack.webp);
	position: absolute;
	left: 0;
	-webkit-animation: bones-3 15s infinite;
	animation: bones-3 15s infinite;
	transform: scale(1);
}

@-webkit-keyframes bones-3 {
	0% {
		top: 0;
	}

	50% {
		top: 90%;
	}

	100% {
		top: 0%
	}
}

@keyframes bones-3 {
	0% {
		top: 0;
	}

	50% {
		top: 90%;
	}

	100% {
		top: 0%
	}
}

.right-valve {
	position: absolute;
	width: 50vw;
	height: 53vh;
	background-image: url(/images/stone.webp);
	background-position: left;
	background-size: 9.5vh;
	border: 1rem solid gray;
	z-index: 100;
	overflow: hidden;
	box-shadow: inset 10px 10px 100px black, 10px 10px 10px black;
	transform: translateX(50vw);
	overflow: hidden;
	transition: 1s ease-out;
}

.left-valve {
	position: absolute;
	width:	50vw;
	height: 53vh;
	background-image: url(/images/stone.webp);
	background-position: right;
	background-size: 9.5vh;
	border: 1rem solid gray;
	z-index: 100;
	overflow: hidden;
	box-shadow: inset -10px 10px 100px black, -10px 10px 10px black;
	transform: translateX(0vw);
	overflow: hidden;
	transition: 1s ease-out;
}

.left-valve:hover {
	background-image: url(/images/transparent-stone.webp);
	background-position: right;
	background-color: rgba(255, 255, 255,.15);
	box-shadow: inset -10px 10px 100px black, -10px 10px 10px black;
	border: 1rem solid #666666;
}

.right-valve:hover {
	background-image: url(/images/transparent-stone.webp);
	background-position: left;
	background-color: rgba(255, 255, 255,.15);
	box-shadow: inset -10px 10px 100px black, 10px 10px 10px black;
	border: 1rem solid #666666;
}

.left-valve:hover::before {
	content: "❖ MINE ☢" !important;
	right: 1rem;
	top: 45%;
	font-weight: bolder;
	color: var(--kyuhi);
	position: absolute;
	z-index: 20;
	transform: scale(1.5);
	font-size: 3rem;
	-webkit-text-stroke-width: .1px;
	-webkit-text-stroke-color: rgb(16, 16, 16) !important;
	text-shadow: 2px 2px 5px black;
}

.right-valve:hover::before {
	content: "☢ TEST ❖" !important;
	left: 1rem;
	top: 45%;
	font-weight: bolder;
	color: var(--kyuhi);
	position: absolute;
	z-index: 20;
	transform: scale(1.5);
	font-size: 3rem;
	-webkit-text-stroke-width: .1px;
	-webkit-text-stroke-color: rgb(16, 16, 16) !important;
	text-shadow: 2px 2px 5px black;
}

.left-valve::before {
	content: "❖ CRYP ☢";
	right: 1rem;
	top: 45%;
	font-weight: bolder;
	color: var(--kyuhi);
	position: absolute;
	z-index: 20;
	transform: scale(1.5);
	font-size: 3rem;
	-webkit-text-stroke-width: .1px;
	-webkit-text-stroke-color: rgb(128, 128, 128);
	text-shadow: 2px 2px 5px black;
}

.right-valve::before {
	content: "☢ TECH ❖";
	left: 1rem;
	top: 45%;
	font-weight: bolder;
	color: var(--kyuhi);
	position: absolute;
	z-index: 20;
	transform: scale(1.5);
	font-size: 3rem;
	-webkit-text-stroke-width: .1px;
	-webkit-text-stroke-color: rgb(128, 128, 128);
	text-shadow: 2px 2px 5px black;
}

#left-valve, #left-valve-sky, #left-valve-admin, #left-valve-coin {

}

#right-valve, #right-valve-sky, #right-valve-admin, #right-valve-coin {

}

p {
	text-shadow: 2px 2px 1px black;
}

.card{
transition-duration: 300ms;
transition-property: transform, box-shadow;
transition-timing-function: ease-out;
transform: rotate3d();
}

.card:hover {
transition-duration: 150ms;
}

.card .glow {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;

background-image: radial-gradient(circle at -50% 20%, #ffffff22, #0000000f);
}

.coin-bg {
	text-align: center;
	padding: 1rem;
	background-color: black;
	border: 5px double white;
}

.primary-pic {
	display: block;
	visibility: visible;
  }

.test-coin {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 10%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.fence {
	background-image: url(/images/tube_V.png);
	background-position: center;
	height: 50px;

}

.test {
	display: flex;
	/* border: 3px solid var(--kyuhi);
	background: linear-gradient(-45deg, black 0%, black 10%, transparent 50%), linear-gradient(135deg, black 0%, black 10%, transparent 50%);
	border-radius: 5px;
	margin-top: 1rem; */
}

.leads-portrait-1 {
	display: inline-block;
	width: 25vh;
}

.slideshow-container {
	display: block;
	height: 12.5vh;
}

.admin-name {
	position: absolute;
	width: 100%;
	text-indent: 0 !important;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	top: 85%;
	font-size: 2.5rem !important;
	transition: 1s ease-in-out;
}

.banner:hover .admin-name {
	padding-bottom: 5rem;
	padding-top: 3rem;
	top: 50%;
	background: linear-gradient(to top, rgba(0,0,0,1), transparent);
	border-bottom: .2rem solid transparent;
	color: #e7e7e0;
	text-shadow: 0 0 10px #9d822b;
	font-size: 3rem !important;
}

.banner:hover .loader-icon-23 {
	filter: blur(5px);
}

.earth-bg {
	box-shadow: 0px 0px 500px 10px rgba(0,0,0,1) inset;
}

.banner-for-admin-sq:hover::after {
	content: "❖";
	font-weight: bolder;
	color: rgb(134, 134, 69);
	font-size: 2rem;
	position: absolute;
	-webkit-animation: cts 3s infinite linear;
	animation: cts 3s infinite linear;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;

}

.banner-for-admin-se:hover::after {
	content: "❖";
	font-weight: bolder;
	color: rgb(183, 112, 173);
	font-size: 2rem;
	position: absolute;
	-webkit-animation: cts 3s infinite linear;
	animation: cts 3s infinite linear;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;

}

.banner-for-admin-va:hover::after {
	content: "❖";
	font-weight: bolder;
	color: rgb(69, 101, 69);
	font-size: 2rem;
	position: absolute;
	-webkit-animation: cts 3s infinite linear;
	animation: cts 3s infinite linear;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;

}

.banner-for-admin-ky:hover::after {
	content: "❖";
	font-weight: bolder;
	color: rgb(97, 105, 207);
	font-size: 2rem;
	position: absolute;
	-webkit-animation: cts 3s infinite linear;
	animation: cts 3s infinite linear;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;

}

.banner-for-admin-sh:hover::after {
	content: "❖";
	font-weight: bolder;
	color: rgb(161, 108, 79);
	font-size: 2rem;
	position: absolute;
	-webkit-animation: cts 3s infinite linear;
	animation: cts 3s infinite linear;
	text-shadow: 2px 2px 10px var(--kyuhi);
	z-index: 15;

}

@keyframes cts {
	0% {
		left: -7.2%;
		top: -7.2%;
	}

	25% {
		left: 95%;
		top: -7.2%;
	}

	50% {
		left: 95%;
		top: 92.8%;
	}

	75% {
		left: -7.2%;
		top: 92.8%;
	}

	100% {
		left: -7.2%;
		top: -7.2%;
	}
}

input[type=checkbox] {
	position: absolute; /* Force the checkbox at the start of the container */
	cursor: pointer; /* Indicate the curtain is clickable */
	width: 100%; /* The checkbox is as wide as the component */
	height: 50vh; /* The checkbox is as tall as the component */
	z-index: 100; /* Make sure the checkbox is on top of everything else */
	opacity: 0; /* Hide the checkbox */
  }

  input[type=checkbox]:checked ~ div.left-valve {
	transform: translateX(-100vw);
  }
		  
  /* Slide the second panel in */
  input[type=checkbox]:checked ~ div.right-valve {
	transform: translateX(100vw);
  }

  .earth-bg img#secondary-front-bg{
	filter: drop-shadow(0px 0px 5px#9d822b);
}

.modal {
	display: none;
	position: fixed;
	z-index: 100000;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,1);
	-webkit-animation: modal 6s;
	animation: modal 6s;
	animation-iteration-count: 1;
  }

  .modal-content {
	display: block;
	text-align: center;
	padding: 10vh 0;
	width: 100vw;
	height: 100vh;
  }

  @keyframes modal {
	0% {
		opacity: 100;
	}

	100%{
		opacity: 0;
		display: none;
		visibility: hidden;
	}
}

.right-valve-modal {
	position: absolute;
	width: 50vw;
	height: 100vh;
	background-image: url(/images/stone.webp);
	background-position: left;
	background-size: 9.5vh;
	border: 1rem solid gray;
	z-index: 100;
	overflow: hidden;
	box-shadow: inset 10px 10px 100px black, 10px 10px 10px black;
	transform: translateX(50vw);
	overflow: hidden;
	-webkit-animation: modal-door-right 1s;
	animation: modal-door-right 1s;
	animation-iteration-count: 1;
}

@keyframes modal-door-right{
	0% {
	}

	90%{
		transform: translateX(75vw);
	}

	100%{
		transform: translateX(50vw);
	}
}

.left-valve-modal {
	position: absolute;
	width:	50vw;
	height: 100vh;
	background-image: url(/images/stone.webp);
	background-position: right;
	background-size: 9.5vh;
	border: 1rem solid gray;
	z-index: 100;
	overflow: hidden;
	box-shadow: inset -10px 10px 100px black, -10px 10px 10px black;
	transform: translateX(0vw);
	overflow: hidden;
	-webkit-animation: modal-door-left 1s;
	animation: modal-door-left 1s;
	animation-iteration-count: 1;
}

@keyframes modal-door-left {
	0% {
	}

	90%{
		transform: translateX(-25vw);
	}

	100%{
		transform: translateX(0vw);
	}
}

.left-valve-modal::before {
	content: "❖ CRYP ☢";
	right: 1rem;
	top: 45%;
	font-weight: bolder;
	color: var(--kyuhi);
	position: absolute;
	z-index: 20;
	transform: scale(1.5);
	font-size: 3rem;
	-webkit-text-stroke-width: .1px;
	-webkit-text-stroke-color: rgb(128, 128, 128);
	text-shadow: 2px 2px 5px black;
}

.right-valve-modal::before {
	content: "☢ TECH ❖";
	left: 1rem;
	top: 45%;
	font-weight: bolder;
	color: var(--kyuhi);
	position: absolute;
	z-index: 20;
	transform: scale(1.5);
	font-size: 3rem;
	-webkit-text-stroke-width: .1px;
	-webkit-text-stroke-color: rgb(128, 128, 128);
	text-shadow: 2px 2px 5px black;
}