@import url("animations.css");
@import url("fireflies.css");
@import url("main.css");
@import url(https://unpkg.com/aos@2.3.1/dist/aos.css);

:root {
    --kyuhi: rgba(183, 112, 173);
  }

.pipe::after {
	content: url("https://cdn.discordapp.com/avatars/412122437954830337/a_c5828f6cbd3774b15462f7a99ccdaf93.gif");
	position: absolute;
	left: -2rem;
	-webkit-animation: bones-2 30s infinite;
	animation: bones-2 30s infinite;
	transform: scale(.5);
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}