@import url("animations.css");
@import url("fireflies.css");
@import url("main.css");
@import url(https://unpkg.com/aos@2.3.1/dist/aos.css);

:root {
    --kyuhi: rgba(134, 134, 69);
  }

.pipe::after {
	content: url("https://cdn.discordapp.com/avatars/294414250376429569/a_fa4e4b545da31af0d93c8b3fc98c2695.gif");
	position: absolute;
	left: -2rem;
	-webkit-animation: bones-2 30s infinite;
	animation: bones-2 30s infinite;
	transform: scale(.5);
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}
